<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ebapi.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='eb.bluetooth.js') }}"></script>




<script>
    

    // 00:22:58:2B:B1:B



function BTConnect(){
    EB.Bluetooth.connect("C4:64:E3:C6:F4:17",true,connectCallback);
}
function connectCallback(dat) {
    document.getElementById("myDiv").innerHTML += dat.status;
    document.getElementById("otherDiv").innerHTML += dat.message;
    document.getElementById("otherDiv").innerHTML += JSON.stringify(dat);
}


function BTRead() {
    EB.Bluetooth.readData(readCallback);
}
function readCallback(dat) {
    document.getElementById("myDiv").innerHTML = "
    dat.status+"<br/> Data:"+dat.data +"<br/> message:"+dat.message ;
}


</script>


<button onclick="BTConnect()">CONNECT</button>
<button onclick="BTRead()">READ Me</button>




<div id="myDiv">
  
</div>

<div id="otherDiv">
  
</div>


<div id="dov">
  
</div>




<a>sss</a>