<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='ebapi.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='eb.bluetooth.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='eb.eznfc.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='eb.barcode.js') }}"></script>




<script>
    

    // 00:22:58:2B:B1:B








function BTConnect(boolean){
  EB.Bluetooth.connect("C4:64:E3:C6:F4:17",boolean,connectCallback);
  // var z = EB.Bluetooth.connect("4C:02:20:94:C0:AC",true,connectCallback);

}
function connectCallback(dat) {
    document.getElementById("myDiv").innerHTML += dat.status;
    document.getElementById("otherDiv").innerHTML += dat.message;
    document.getElementById("dov").innerHTML += JSON.stringify(dat);
}


function BTRead() {
    EB.Bluetooth.readData(readCallback);
}

function readCallback(dat) {
    document.getElementById("myDiv").innerHTML = "
    dat.status+"<br/> Data:"+dat.data +"<br/> message:"+dat.message ;
}


</script>


<button onclick="BTConnect(true)">CONNECT SAFE</button>
<button onclick="BTConnect(false)">CONNECT NOT SAFE</button>
<!-- <button onclick="scanfc()">NFC</button> -->
<!-- <button onclick="BTRead()">READ Me</button> -->




<div id="myDiv">
  
</div>

<div id="otherDiv">
  
</div>


<div id="dov">
  
</div>




<!-- 

<script type="text/javascript">
/*
EB.EzNFC.isSupported
Property to check whether NFC is supported on the device.
Return
    true - if supported
    false - if not supported
*/
function isNfcSupported()
{
    var x=EB.EzNFC.isSupported;
    document.getElementById("demo1").innerHTML = x;
}
/*
EB.EzNFC.isEnabled
Property to check whether NFC Adapter is enabled on the device.
Return
    true - if enabled
    false - if not enabled
*/
function isNfcEnabled()
{
    var x=EB.EzNFC.isEnabled;
    document.getElementById("demo2").innerHTML = x;
}
/*
EB.EzNFC.enableAdapter();
Method to enable the NFC Adapter. Invoking this method brings up the Device settings Activity so user can manually enable the NFC Adapter.
Calling this method has no effect if NFC Adapter is already enabled.
*/
function EnableNfcAdapter()
{
    EB.EzNFC.enableAdapter();
}
/*
enableRead(enableNfcCallback1)
Method to enable NFC Tag Reading.
*/
function EnableNfcRead()
{
    EB.EzNFC.enableRead(enableNfcCallback1);
}
/*
disableRead();
Method to disable NFC Tag Reading.
*/
function DisableNfcRead()
{
    EB.EzNFC.disableRead();
    /* Clearing the div of previously read data*/
    document.getElementById("demo5").innerHTML = "";
}
/*
enableRead(enableNfcCallback1).
User-defined callback with the enableRead() method.
Gets fired when NFC Tag is Read.
Returns Tag
ID
Type
TNF
Payload
EncodingFormat
Result
*/
function enableNfcCallback1(dat) {
    var ID = dat.id;
    var Type = dat.type;
    var TNF = dat.tnf;
    var Payload = dat.payload;
    var EncodingFormat = dat.encodingformat;
    var Result = dat.result;
    var TagIDHexa = dat.tagidhexa;
    var ShowData = JSON.stringify(dat) + "<br><br><br>ID:" + ID + "<BR>Type:" + Type + "<BR>TNF:" + TNF + "<BR>Payload:" + Payload + "<BR>EncodingFormat:" + EncodingFormat + "<BR>Result:" + Result + "<BR>TagIDHexa: " + TagIDHexa ;

    document.getElementById("demo5").innerHTML = ShowData;
}
</script>
</head>
<body>
<h2  align="center">Enterprise Browser NFC API Test</h2>
<hr>
<br>
<DIV>
<table border=1>
    <tr>
        <td>
            <button onclick="isNfcSupported();">isSupported</button>:
        </td>
        <td><div id="demo1"></div></td>
    </tr>
    <tr>
        <td>
            <button onclick="isNfcEnabled();">isEnabled</button>:
        </td>
        <td><div id="demo2"></div></td>
    </tr>
    <tr>
        <td colspan=2>
            <button onclick="EnableNfcAdapter();">enableAdapter</button>:
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <button onclick="EnableNfcRead();">enableRead</button>:</td>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <button onclick="DisableNfcRead();">disableRead</button>:</td>
        </td>
    </tr>
</table>
</DIV>
<DIV id="demo5"></DIV>






















<pre>
  <head>
      <title>Barcode API Test</title>
      <script type="text/javascript" charset="utf-8" src="ebapi-modules.js"></script>

      <script type="text/javascript">
      function scanReceived(params){
          // No data or no timestamp, scan failed.
          if(params['data']== "" || params['time']==""){
              document.getElementById('display').innerHTML = "Failed!";
              return;
          }
          // Data and timestamp exist, barcode successful, show results
          var displayStr = "Barcode Data: " + params['data']+"<br>Time: "+params['time'];
          document.getElementById("display").innerHTML = displayStr;
      }

      function enableScanners(){
          EB.Barcode.enable({}, scanReceived);
          // Empty property hash, '{}' loads default values for the scanner.
      }

      function unloadEvent(){
          EB.Barcode.disable();
          // Disable Barcode on unload of page to free it up for other operations.
      }
  </script>
  </head>

  <body onunload='unloadEvent()'>
      <h1>Barcode API Test</h1>
      <div id="display">
          Barcode Data: <br>
          Time: <br>
      </div>
      <button onclick="enableScanners()">Enable Barcode Scanners</button>
  </body>              
  </pre> -->